body {
    margin: 0px;
    height: 100vh;
}

#formDiv {
    width: 100%;
    height: 10%;
    background-color: aquamarine;
}
#contentDiv {
    width: 100%;
    height: fit-content;
    display: grid;
    padding: 20px;
    box-sizing: border-box;

    grid-template-columns: repeat(auto-fill, 400px);
    gap: 20px;
    justify-content: center;
}
.card {
    height: 200px;
    width: 400px;
    border: solid black 2px;
    padding: 10px;
    box-sizing: border-box;
}