body {
    margin: 0px;
    height: 100vh;
}

#formDiv {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contentDiv {
    width: 100%;
    height: fit-content;
    display: grid;
    padding: 20px;
    /* box-sizing: border-box; */

    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-auto-rows: 200px;
    gap: 20px;
    justify-content: center;

    background-color: rgb(211, 211, 211);
}
.card {
    border: solid black 2px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#titleInput, #authorInput, #statusInput, #addBookButton {
    border: 0px;
    height: 50px;
    width: 200px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    cursor: pointer;
}
.cardOptions {
    height: 20%;
    display: flex;
    align-items: center;
    /* background-color: white; */
}
.deleteIcon {
    height: 100%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: end;
}
.status {
    cursor: pointer;
    user-select: none;
}